body {
    background: #555;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
}
.content {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 35px;
}
.mugshot {
    width: 100%;
}
.pubs li:not(:last-child) {
    margin-bottom: 8px;
}
* {
    box-sizing: border-box;
    font-family: Georgia;
}
/* Container for flexboxes */
.row {
    display: flex;
    flex-wrap: wrap;
}
/* Create four equal columns */
.column {
    padding: 2%;
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other 
https://www.w3schools.com/css/tryit.asp?filename=trycss_mediaqueries_flex */
@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }
}

